*.pyc
*.pyo
*.db
*.pot
*.swp
*.swo
*.doctree
.doctrees
.DS_Store
.coverage
.idea/
local_settings.py
build/
docs/build/
dist/
childsafe/static/*
childsafe/db.*
node_modules
local.py
*.sqlite3
**.cache**
.tox/
coverage.xml
