*.pyc
*.pyo
*.db
*.pot
*.swp
*.swo
*.doctree
.doctrees
.DS_Store
.coverage
.idea/
local_settings.py
build/
docs/build/
dist/
garfield/static/*
garfield/db.*
node_modules
**/media/**
local.py
static/
*.sqlite3
**.cache**
.tox/
coverage.xml
