{% load static %}

      <!-- Footer -->
      <footer>
        <ul class="list-inline d-table w-100 mb-0">
          <li class="list-inline-item d-table-cell g-width-1x">
            <a class="btn btn-lg u-btn-indigo btn-block rounded-0 g-py-20" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item d-table-cell g-width-1x">
            <a class="btn btn-lg u-btn-pink btn-block rounded-0 g-py-20" href="#"><i class="fa fa-pinterest"></i></a>
          </li>
          <li class="list-inline-item d-table-cell g-width-1x">
            <a class="btn btn-lg u-btn-purple btn-block rounded-0 g-py-20" href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li class="list-inline-item d-table-cell g-width-1x">
            <a class="btn btn-lg u-btn-teal btn-block rounded-0 g-py-20" href="#"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item d-table-cell g-width-1x">
            <a class="btn btn-lg u-btn-blue btn-block rounded-0 g-py-20" href="#"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </footer>
      <!-- End Footer -->


      <a class="js-go-to u-go-to-v1" href="#"
         data-type="fixed"
         data-position='{
           "bottom": 15,
           "right": 15
         }'
         data-offset-top="400"
         data-compensation="#js-header"
         data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
      </a>
 
