      {% load static %}
      <!-- Header v1 -->
      <header id="js-header" class="u-header u-header--sticky-top u-header--show-hide u-header--toggle-section"
              data-header-fix-moment="100"
              data-header-fix-effect="slide">
        <div class="u-header__section u-shadow-v27 g-bg-white g-transition-0_3 g-py-12 g-py-20--md">
          <nav class="navbar navbar-expand-lg py-0 g-px-15">
            <div class="container g-pos-rel">
              <!-- Logo -->
              <a href="/" class="navbar-brand u-header__logo">
                <img class="u-header__logo-img u-header__logo-img--main g-width-35" src="{% static '/img-temp/logo-black.svg' %}" alt="childsafe.io">
                childsafe.io
              </a>
              <!-- End Logo -->

              <div id="navBar" class="collapse navbar-collapse">
                <!-- Navigation -->
                <div class="navbar-collapse align-items-center flex-sm-row">
                  <!-- 
                  <ul id="js-scroll-nav" class="navbar-nav g-flex-right--xs text-uppercase w-100 g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg">
                    <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg active">
                      <a href="#home" class="nav-link p-0">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#about" class="nav-link p-0">About</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#benefits" class="nav-link p-0">Benefits</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#whyWe" class="nav-link p-0">Why we</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#features" class="nav-link p-0">Features</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#subscribe" class="nav-link p-0">Subscribe</a>
                    </li>
                    <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#FAQ" class="nav-link p-0">FAQ</a>
                    </li>
                    <li class="nav-item g-ml-15--lg g-mb-7 g-mb-0--lg">
                      <a href="#contact" class="nav-link p-0">Contact</a>
                    </li>
                  </ul> -->
                </div> 
                <!-- End Navigation -->

                <a class="btn btn-lg text-uppercase u-btn-primary g-font-weight-700 g-font-size-11 g-rounded-10 g-px-13 g-py-10 mb-0 g-ml-25--lg" href="/signup">Get Started in 5 Minutes</a>
              </div>

              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-15 g-right-0" type="button"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header v1 -->


