{% extends 'web/index.html' %} 
{% load static %}

{% block 'body' %}
<!-- Section Content -->
      <section id="home" class="g-theme-bg-gray-light-v1 g-pt-90">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5 ml-lg-auto d-flex text-center text-md-left">
              <div class="align-self-center">
                <h2 class="text-uppercase g-line-height-1_3 g-font-size-36
                    g-mb-20 g-mb-30--lg">Protect your underage users
                  <br><strong>in 5 minutes</strong></h2>
                <p class="g-mb-20 g-mb-35--lg">Zero code, easy-to-configure
                media scanning for all your cloud storage buckets.</p>
                <a href="{% url 'signup' %}" class="btn btn-md u-btn-yellow g-font-weight-700 g-letter-spacing-0_5 text-uppercase text-left g-rounded-10 g-py-10 g-mb-15 g-mb-0--lg g-mr-30--md">
                  <span class="float-right g-font-size-13">
                    Amazon
                    <span class="d-block g-font-size-10">Web Services</span>
                  </span>
                  <i class="fa fa-amazon float-left g-font-size-26 g-mr-15"></i>
                </a>
                <a href="{% url 'signup' %}" class="btn btn-md u-btn-primary g-font-weight-700 g-letter-spacing-0_5 text-uppercase text-left g-rounded-10 g-py-10 g-mb-15 g-mb-0--lg">
                  <span class="float-right g-font-size-13">
                    Google 
                    <span class="d-block g-font-size-10">Cloud Platform</span>
                  </span>
                  <i class="fa fa-google float-left g-font-size-26 g-mr-15"></i>
                </a>
                <br /><br />
                <a href="{% url 'signup' %}" class="btn btn-md u-btn-purple g-font-weight-700 g-letter-spacing-0_5 text-uppercase text-left g-rounded-10 g-py-10 g-mb-15 g-mb-0--lg">
                  <span class="float-right g-font-size-13">
                    Microsoft 
                    <span class="d-block g-font-size-10">Azure</span>
                  </span>
                  <i class="fa fa-windows float-left g-font-size-26 g-mr-15"></i>
                </a>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 g-overflow-hidden">
              <img class="img-fluid" src="{% static '/img-temp/mockups/mockup-child-photographer.png' %}" alt="Image description"
                   data-animation="slideInUp">
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->

      <!-- Section Content -->
      <section id="about" class="g-pt-90">
        <div class="container text-center g-max-width-750 g-mb-30">
          <div class="text-uppercase g-line-height-1_3 g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-11 g-mb-15"><span class="g-color-primary"></span>what is childsafe.io?</h4>
            <h2 class="g-line-height-1_3 g-font-size-36 mb-0">Kid-safe content <strong>made simple</strong></h2>
          </div>

          <p class="mb-0">childsafe.io protects your underage users from exposure to <strong>child pornography</strong>, <strong>CSAM</strong> and <strong>human trafficking</strong>.</p>
		  <p class="mb-0">Integrating with your favorite cloud storage
          provider, you can start scanning your user generated images from your
          website or mobile application against billions of images known to
          depict the exploitation of children. Comparisons are made through
          various hashing techniques and your images are never copied to disk,
          ensuring your content's privacy.</p>
          <p class="mb-0">No code, no complexity, easy configuration in <strong>5 minutes</strong>.</p>
        </div>

      </section>
      <!-- End Section Content -->

      <!-- Section Content -->
      <section id="benefits" class="g-py-90">
        <div class="container text-center g-max-width-750 g-mb-65">
          <div class="text-uppercase g-line-height-1_3 g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-11 g-mb-15">how it works 
            </h4>
            <h2 class="g-line-height-1_3 g-font-size-36 mb-0">Sign up, configure your bucket and <strong>be childsafe instantly.</strong></h2>
          </div>

          <p class="mb-0">childsafe.io integrates directly with the cloud storage you are already using. Follow our simple, 5 minute configuration guide and start scanning your images for harmful material without <strong>any changes to your code</strong>.</p>
        </div>

        <div class="container-fluid">
          <div class="row no-gutters justify-content-md-center">
            <div class="col-sm-6 col-lg-3 g-bg-darkpurple">
              <!-- Article -->
              <article class="u-block-hover">
                <div class="g-color-white g-pa-40-30-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">Sign Up</h3>
                  <p class="g-font-size-default g-color-white-opacity-0_8 mb-0">Sign up in seconds <a href="{% url 'signup' %}">here</a> and share your preferred contact information.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-sm-6 col-lg-3 g-bg-primary">
              <!-- Article -->
              <article class="u-block-hover">
                <div class="g-color-white g-pa-40-30-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">Configure</h3>
                  <p class="g-font-size-default g-color-white-opacity-0_8 mb-0">Our simple tutorials show you how to configure your <strong>Amazon S3</strong>, <strong>Google Cloud Storage</strong> or <strong>Microsoft Azure</strong> bucket in 5 minutes.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-sm-6 col-lg-3 g-bg-pink">
              <!-- Article -->
              <article class="u-block-hover">
                <div class="g-color-white g-pa-40-30-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">Monitor</h3>
                  <p class="g-font-size-default g-color-white-opacity-0_8 mb-0">childsafe.io will notify you whenever an image suspected of abuse or exploitation is uploaded, empowering you to act immediately to keep your underage users safe.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->

      <!-- Section Content -->
      <section id="whyWe" class="dzsparallaxer auto-init height-is-based-on-content use-loading"
               data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_5--after" style="height: 140%; background-image: url({% static '/img-temp/1400x700/img1.jpg)"></div>
        <!-- End Parallax Image -->

        <div class="text-center d-flex g-height-100vh">
          <div class="container align-self-center g-max-width-750">
            <div class="text-uppercase g-line-height-1_3 g-mb-20">
              <h4 class="g-font-weight-700 g-font-size-11 g-color-white g-mb-15">
              <h2 class="g-line-height-1_3 g-font-size-36 g-color-white mb-0">See <strong>for yourself</strong></h2>
            </div>

            <p class="g-color-gray-dark-v5 g-mb-65">Watch a new bucket become child safe in 45 seconds.</p>

            <a class="js-fancybox-media btn u-btn-primary g-pos-rel g-width-70 g-height-70 g-rounded-50" href="//youtube.com/watch?v=R-KBsfSHkp4"
               data-open-effect="fadeIn"
               data-close-effect="fadeOut"
               data-open-speed="1000"
               data-close-speed="1000">
              <i class="fa fa-play center-it"></i>
            </a>
          </div>
        </div>
      </section>
      <!-- End Section Content -->

      <!-- Section Content -->
      <section id="contact" class="g-bg-primary g-pt-90 g-pb-30 g-pb-90--lg">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 g-mb-20 g-mb-0--lg">
              <div class="text-uppercase g-mb-20">
                <h4 class="g-font-weight-700 g-font-size-11 g-color-white g-mb-15">Sign up</h4>
                <h2 class="g-font-size-36 g-color-white mb-0">childsafe.io will be <strong>entering beta soon</strong></h2>
              </div>

              <p class="g-color-white mb-0">Find out when childsafe.io is production ready before anyone else.</p>
            </div>
			<div class="col-lg-7 g-pt-30--lg" id="mc_embed_signup">
				<form action="https://childsafeio.us2.list-manage.com/subscribe/post?u=21ec59a4dc5db917e4d7b0ad5&amp;id=4fb384c305" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
				<div class="mc-field-group form-group g-mb-10">
					<input type="email" value="" name="EMAIL" class="required email form-control g-font-size-default g-color-white g-placeholder-inherit g-bg-transparent g-bg-transparent--focus g-brd-white g-rounded-10 g-px-20 g-py-10" id="mce-EMAIL" placeholder="Email address">
				</div>
				<div class="mc-field-group form-group g-mb-10">
					<input type="text" value="" name="FNAME" class="form-control g-font-size-default g-color-white g-placeholder-inherit g-bg-transparent g-bg-transparent--focus g-brd-white g-rounded-10 g-px-20 g-py-10" id="mce-FNAME" placeholder="First name">
				</div>
				<div class="mc-field-group form-group g-mb-30">
					<input type="text" value="" name="LNAME" class="form-control g-font-size-default g-color-white g-placeholder-inherit g-bg-transparent g-bg-transparent--focus g-brd-white g-rounded-10 g-px-20 g-py-10" id="mce-LNAME" placeholder="Last name">
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_21ec59a4dc5db917e4d7b0ad5_4fb384c305" tabindex="-1" value=""></div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn u-btn-white btn-lg text-uppercase g-font-weight-700 g-font-size-12 g-color-black g-rounded-10 mb-0"></div>
					</div>
				</form>
			</div>
        </div>
      </section>
      <!-- End Section Content -->
{% endblock %}
