{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>childsafe.io - easy infrastructure tools to protect kids.</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

	<meta property="og:title" content="childsafe.io - Protect Kids With Your App In 5 Minutes">
	<meta property="og:description" content="No code, easy-to-configure scanning for CP, CSAM and other dangerous content for your favorite cloud bucket.">
	<meta property="og:image" content="https://childsafe.io{% static '/img-temp/childsafe-social.png' %}">
	<meta property="og:url" content="https://childsafe.io">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="og:site_name" content="childsafe.io">
	<meta name="twitter:image:alt" content="childsafe.io - protect kids with your app in 5 minutes.">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-58DGCB9');</script>
    <!-- End Google Tag Manager -->

    {% include "web/partials/includes.html" %}    
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-58DGCB9"
            height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main>
      {% include 'web/partials/header.html' %}

      {% block 'body' %}
      {% endblock %}

      {% include 'web/partials/footer.html' %}

   </main>

    {% include 'web/partials/footer-js.html' %}
  </body>
</html>


